<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>

     <h1>this is working</h1>
     
     

     <ol>
          {% for i in students %}
          <li>
               <ul>
                    <li>First Name - {{i.first_name}}</li>
                    <li>Last Name - {{i.last_name}}</li>
               </ul>
               
          </li><br>
          {% endfor %}
     </ol>

     

     
</body>
</html>